<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./about.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>About</title>
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <a href="/"><span>Home</span></a> | <a href="/about"><span>About</span></a> | <a href="/resume"><span>Resume/Skills</span></a> |  <a href="/portfolio"><span>Portfolio</span></a> | <a href="/contact"><span>Contact</span></a>
        </div>
        <div class="about">
            <h1>About Me</h1>
            <p>Are you looking for a software developer who has a proven ability to pick up new skills quickly?</p>
            <p>Hi, I’m Michael Vogel. I have always had an interest in technology.  I recently made the decision to follow that passion and enroll in a coding bootcamp, which taught me full stack development in languages such as Python, JavaScript and Java.  I quickly picked up many skills, and learned how to apply them in many different aspects of software development depending on how they could best serve what I was attempting to accomplish.  Being successful in a coding bootcamp required me to pick up new languages in a short period of time while not skipping on the fundamentals. I am very excited to begin my career as a Software Developer and know I would be a huge benefit to any team.
            </p>
        </div>
    </div>
</body>
</html>