<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./resume.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Resume</title>
</head>
<body>
    <div id="wrapper">
        <div class="header">
            <a href="/"><span>Home</span></a> | <a href="/about"><span>About</span></a> | <a href="/resume"><span>Resume/Skills</span></a> |  <a href="/portfolio"><span>Portfolio</span></a> | <a href="/contact"><span>Contact</span></a>
        </div>
        <div class="resume">
            <h4>Skills & Abilities</h4>
            <h5>Languages/Technologies:</h5>
            <ul>
                <li>Python  -  TypeScript  -  JavaScript  -  Java</li>
                <li>Flask  -  Django  -  MySQL</li>
                <li>Node  -  Express  -  MongoDB</li>
                <li>Angular  -  Ajax  -  API's</li>
                <li>HTML  -  CSS  -  JQuery</li>
                <li>Amazon Web Services  -  Git  -  TDD</li>
            </ul>
            <h4>Work Experience</h4>
            <ul>
                <li><h5>Police Officer | Bellevue Police Department | July 2015 - November 2017</h5></li>
                <ul>
                    <li><p>Prevented crime by explaining and enforcing applicable federal, state, and local laws and ordinances; mediating disputes.  Conducts criminal investigations by gathering evidence; interviewing victims and witnesses; interviewing suspects. Maintains professional and technical knowledge by studying applicable federal, state, and local laws and ordinances; attending educational workshops; reviewing professional publications; practicing skills; participating in professional societies.</p></li></li>
                </ul>
            </ul>
            <ul>
                <li><h5>Deputy Sheriff | Churchill County Sheriff's Office | November 2012 - July 2015</h5></li>
                <ul>
                    <li><p>Prevented crime by explaining and enforcing applicable federal, state, and local laws and ordinances; mediating disputes.  Conducts criminal investigations by gathering evidence; interviewing victims and witnesses; interviewing suspects. Maintains professional and technical knowledge by studying applicable federal, state, and local laws and ordinances; attending educational workshops; reviewing professional publications; practicing skills; participating in professional societies.</p></li>
                </ul>
            </ul>
            <ul>
                <li><h5>Correctional Officer | State of Nevada | May 2009 - November 2012</h5></li>
                <ul>
                    <li><p>Responsible for maintaining order in a detention facility. Supervise inmates with emotional disorders in an effective, firm and fair manner; initiating and participating in the searching of inmates and their housing units and work areas; and successfully completing specialized training courses in self-defense, medical emergencies, and safety management.</p></li>
                </ul>
            </ul>
            <h4>Education:</h4>
            <ul>
                <li><h5>Western Nevada College | Carson City, Nevada</h5></li>
                <ul>
                    <li>Associates Degree General Studies</li>
                    <li>Courses included - Business Management, Accounting, Statistics and Economics</li>
                </ul>
            </ul>
            <h4>Misc</h4>
            <p>Proven ability to pick up new skills quickly and effectively.  Great at interacting with others. Skilled at communication while working in a high stress environment.</p>
    </div>
</body>
</html>