body, html{
    height: 100%;
    margin: 0;
}
#wrapper{
    background-image: url("/webBackground.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
}
.header{
    padding-top: 15px;
    text-align: right;
    margin-right: 20px;
}
a{
    margin-right: 10px;
    margin-left: 10px;
}
span{
    color: #a7a1a1;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: .25px .25px black;
}
.contact{
    color: black;
    margin-left: 38%;
    margin-top: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
@media only screen and (max-width: 750px){
    .contact{
        margin-left: 15%;
    }
    span{
        font-size: 11px;
    }
}